@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}
#root { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  padding-right: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 10px;
  outline: 0; 
}
button:hover {
  background-color: #FFFFFF;
  color: #0066FF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  outline: 0; 
}
.comments{
  font-family: 'Nunito';
  height: 65px;
  margin-right: 28px;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 800;
  border: 1px solid white;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #B3E5FC, #E1F5FE);
  opacity: 1;
}
#author{
  color: red;
  font-weight: bold;
  display: inline;
  margin-right: 7px;
}
h1 {
  color: #f2f2f2; 
  background: #ff4a4a; 
  font-size: 75px; line-height: 74px; 
  font-weight: 700; margin: 0 5px 24px; 
  padding: 10px; 
  margin: 0 5px 24px; 
  font-family: 'Libre Baskerville', serif;
  border-radius: 5px;
}
input {
  text-align: center;
  padding: 10px;
  font-size: 17px;
  border: 2px solid #FFF;
  width: 15rem;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
}